<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           https://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="monkey" lazy-init="true" class="com.teach.applicationContext.Monkey" name="monkey-one,monkey-two;monkey-three monkey-four">
		<property name="name" value="孙悟空"/>
		<property name="age" value="#{1000*2}"/>
	</bean>

	<bean id="pig" lazy-init="true" class="com.teach.applicationContext.Pig">
	</bean>

	<bean id="oneBeanFactoryPostProcessor" class="com.teach.applicationContext.OneBeanFactoryPostProcessor"/>
	<bean id="twoBeanFactoryPostProcessor" class="com.teach.applicationContext.TwoBeanFactoryPostProcessor"/>
	<bean id="threeBeanFactoryPostProcessor" class="com.teach.applicationContext.ThreeBeanFactoryPostProcessor"/>

	<bean id="myBeanPostProcessor" class="com.teach.applicationContext.MyBeanPostProcessor"/>

	<bean id="myListener" class="com.whoiszxl.event.MyEventListener"/>



</beans>